@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700,300italic|Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400);
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(./font-awesome.min.css);

/* blu #005493 */
body,html{margin:0;padding:0;height:100%}
body,html{font: 18px/24px 'Lato', 'Open Sans Condensed',  sans-serif; color: #666; font-weight: 300;}
a {text-decoration: none; color: #005493; border-bottom: 1px solid #005493}
a:hover {text-decoration: none;}
a.noborder {border-bottom: 0px}
@media (max-width:640px){body,html{font: 18px/22px 'Open Sans Condensed','Helvetica', sans-serif;margin-bottom: 35px}}
.site_wrapper{min-height:100%}

.japanese {font-family: 'Noto Sans Japanese', sans-serif;}

@media (min-width:769px){.site_wrapper{position: absolute; left: 50%; width: 900px; margin-left: -460px; padding: 5px 10px 10px;}}
@media (max-width:960px){.site_wrapper{width: 100%;padding-top:3px;margin-bottom: 35px}}
.site_container{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;background-color:white; padding:10px;}}
@media (min-width:769px){.site_container{margin: 0 auto}}


.topheader{margin: 0px auto; margin-top: 10px; }
.topheader__left, .topheader__center, .topheader__right {padding-top:3px;padding-bottom:3px;}
.topheader a{color: #005493;}
.title {font-size: 30px; margin-top: 12px}
@media (max-width:960px){.title{margin-top: 2px}.topheader{padding-top: 5px; border-top: 1px solid #005493;}}
.padleft{padding-left: 20px;}
.subtitle {font-size: 20px; margin-top: 10px}
@media (max-width:960px){.subtitle{font-weight:400; margin-bottom: 20px;font-size: 18px;}}
@media (min-width:769px){.topheader__left{float:left;width:100px;}}
@media (max-width:960px){.topheader__left{text-align:center}}
@media (min-width:769px){.topheader__center{float:left}}
@media (max-width:960px){.topheader__center{text-align:center}}
@media (min-width:769px){.topheader__right{float:right}}
@media (max-width:960px){.topheader__right{display:none}}
.scritta{height: 80px;}
@media (max-width:960px){.scritta{height:40px}}

.topheader__last{font-size: 14px; clear:both;color:#666;margin-bottom: 8px}
@media (min-width:769px){.topheader__last{text-align:right}}
@media (max-width:960px){.topheader__last{text-align:center}}
img.navheader {width: 20px; margin-top: -20px; margin-bottom: -20px;}


.myfooter{margin-top: 30px}

.link_is_active{border-bottom: 1px solid #282658}

#secondarymenu{margin-left: -2em;}
#secondarymenu .sidebar__link_item, .sidebar__link_list > ul {
    letter-spacing: 0.8px;
    line-height: 1;
    margin-right: 0px;
}


ul.active{margin: 0px;}
.inactive{display: none;}
.active{text-align: center;}
@media (max-width:960px){.active{display:none;}}

/* main page */
.mainpage{padding: 5px 20px;}
.maintitle{font:18px/18px 'Lato', 'Open Sans Condensed',  sans-serif;}
.maintxt{font:18px/18px 'Lato', 'Open Sans Condensed',  sans-serif;color: #666; font-weight: 300;}

.photoset {border-bottom: 1px solid #ddd; font-size: 16px}
.data {padding-left: 2px; padding-right: 2px;}
.month{padding-left: 4px; padding-right: 4px; text-align: center}
.year{text-align: center}
.photo{float:left; margin: 4px; margin-left: 12px;}
.photo img {background-color: #FFF;
border: 1px solid #A9A9A9;
margin: 4px 0px 4px 5px;
padding: 4px;
position: relative;}
.titleline{margin: 4px; float: left;}
.titlephotoset{float:left}
.description{display: block;}

.semnext{display: block}

@media (max-width:960px){.photoset{display: block}.data{font-size: 15px;}}
@media (min-width:769px){.photoset{width: 600px}.data{font-size: 15px;}}

.main__img{clear:both;text-align:center;}

.notice{color: #aaa;text-align: center;padding-top: 5px;display: block;border-top: 1px solid #F2F2F2;}
@media (max-width:960px){.notice{font-size:10px}}
@media (min-width:769px){.notice{font-size:14px}}
.note {color: #aaa;text-align: center;padding-top: 5px;display: block}
.black{color:#000}
.blue{color: #005493;}
.colrenbukai{color: #005493;}
.bgcolrenbukai{background-color: #005493;}
.back-blue{background-color: #005493; color: #fff;}
@media (max-width:960px){.note{font-size:0.8em}}
@media (min-width:769px){.note{font-size:1em}}

/* corsi */
.generic-page {margin: auto; padding-left: 5px; padding-right: 5px;}
.generic__title{color: #005493;
    font-family: "Open Sans Condensed",sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    margin: 20px 0 15px 0;
    padding: 0px;}
@media (max-width:960px){.generic-page{padding-bottom:10px;margin-bottom: 10px; font-size: 18px}}
    

/* calendar seminars */
.seminars-page {margin: auto;}
.seminar-list__title{font: bold 24px/28px "Open Sans Condensed",sans-serif;
    text-align: center;margin: 5px;letter-spacing: 0.3em;
    text-align: center;}
.seminar-list__description{font-size: 1.1em;text-align: center}
@media (max-width:960px){.seminar-list__description{font-size: 0.9em}}
.calendar {margin: auto; padding-bottom: 15px}
.calendar__day{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;
width:30px;height:30px;display:inline-block;
background-color:#ecf0f1;margin-right:2px;
font-variant:small-caps;font-weight:300;
    text-transform:lowercase;font-family:'Lato','Helvetica';
    text-align:center;font-size:.7em;
    line-height:3em;margin-top:2px}
.calendar__day_not_working{background-color:#b1c2c6}
.calendar__day_not_in_month{opacity:0}
.calendar__month{width:224px;vertical-align:top;margin-top: 10px;padding:15px}
@media (max-width:960px){.calendar__month{display:block}.seminar-list__title{font: bold 18px/24px "Open Sans Condensed",sans-serif;text-align: center;margin: 15px;text-align: center;}}
@media (min-width:769px){.calendar__month{display:inline-block}}
@media (max-width:960px){.calendar__month{margin:auto}}
@media (min-width:769px){.calendar__month{margin-left:30px}}
.calendar__month_name{font-variant:small-caps;font-weight:400;text-transform:lowercase;font-family:'Open Sans Condensed';text-align:center}
.calendar__category_seminar{color:#6B9ED8}
.calendar__category_seminar_past{color:#45C545}
.calendar__category_seminar_bk{background-color:#6B9ED8}
.calendar__category_seminar_bk_past{background-color:#45C545}
.calendar__tooltip{position:absolute;color:white;display:block;background-color:#A9A9DE;line-height:13px;border-radius:3px;opacity:0;padding:0.5em;padding-top:0em;padding-bottom:0em;font-size:1.1em;margin-right:.25em;margin-top: -1em}
/*.calendar__tooltip .calendar__tooltip__title{position:absolute;color:white;text-transform:lowercase;background-color:#2077D8;border-radius:5px;display:block;opacity:0;padding:1em;padding-top:.3em;padding-bottom:.3em;font-size:1em;margin-right:.5em}*/
.calendar__tooltip__title a{text-decoration: none; color: white;border-bottom: 1px solid white;}
.calendar__tooltip:hover {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: translateY(0px);
     -moz-transform: translateY(0px);
      -ms-transform: translateY(0px);
       -o-transform: translateY(0px);
          transform: translateY(0px);
}

/* seminar list */
.seminarlist__month{clear: both;}
.seminarlist__month_name{font-variant:small-caps;font-weight:400;text-transform:lowercase;font-family:'Open Sans Condensed';font-size:26px; text-align:center}
.seminarlist__event{height: 180px; display:block; width:93%;border: 1px solid #eee; padding: 5px; margin: 5px; border-radius: 4px}
.seminarlist__event_past{height: 180px; color: #bbb; display:block; width:93%;border: 1px solid #eee; padding: 5px; margin: 5px; border-radius: 4px}
@media (max-width:960px){.seminarlist__event {height: auto} .seminarlist__event_past {height: auto}}
.seminarlist__datebox{height: 180px; display:inline-block; float: left; text-align: center; padding-right: 10px}
@media (max-width:960px){.seminarlist__datebox {display: none}}
.seminarlist__description{display: inline-block;}
.seminarlist__type{font-weight: 300;}
.seminarlist__title{font-weight: 400; font-size: 22px}
.seminarlist__meta{font-weight: 300;}
.seminarlist__details{margin-top: 15px;color: #000; font-weight: 300;}
@media (max-width:960px){.seminarlist__details{margin-top: 10px;}}
.seminarlist__photobox{width: 180px; height: 180px; display:inline-block; float: right; text-align: center}
.seminarlist__photobox img {width: 140px; text-align: center; border-radius: 4px; border: 2px solid #aaa; margin: 5px; padding: 5px}
@media (max-width:960px){.seminarlist__photobox {display: none;}}
.seminarlist__photo{font-weight: 300;float: left}
.seminarlist__details a, .seminarlist__meta a {text-decoration: none; border: 0px; color: #000; font-weight: 300; }
.seminarlist__event_past a {color: #bbb;}
.seminarlist__event_evidence {height: 180px; display:block; width:93%;border: 2px solid  #282658; padding: 5px; margin: 5px; border-radius: 4px}
.seminarlist__event_past .seminarlist__details {color: #bbb;}

.ribbon {color: #A00; font-size: 24px; float: right;}




.seminar_data{margin-top:1em;margin-bottom:1em;font-size:1.3em;line-height:1.5em; display:block;float: left;}
@media (min-width:769px){.seminar_data{max-width: 690px}}

.seminar_data__detail{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;display:block;border-top:1px solid #DDD;}
.seminar_data__key{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:25%;display:inline-block;color:#999;vertical-align:top}
.seminar_data__value{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:74%;font-size:.9em;display:inline-block;color:black;vertical-align:top}
@media (max-width:960px){.seminar_data__key{font-size:1em;width:100%}}
@media (max-width:960px){.seminar_data__value {font-size:1em;width:100%} .last{margin-bottom: 35px;}}

.seminar_ordinario{color: green;}
.seminar_nazionale{color: blue;}

/* schedule */
table.orario{font-size: 14px;border-collapse:collapse;border-spacing:0;margin:0px auto;}
tbody{}
.dayh{text-align: center;}
.hour {border: 1px solid #2E2E2E; text-align: center; padding:1px; height: 20px; vertical-align: middle; }
.time{padding-left: 5px; padding-right: 5px; text-align: center; height: 20px; }
.adultipesaro{background-color: #003366; color:#fff;}
.adultirimini{background-color: #297045; color:#fff;}
.principiantipesaro{background-color: #2e86ab;color:#fff;}
.principiantirimini{background-color: #81c14b;color:#fff;}
.ragazzi{background-color: #a6e1fa;color:#000;}
.bambini{background-color: #ccdce9;color:#000;height: 40px;}
.pesaro{color: #3066be;}
.rimini{color: #297045;}
.onohaittoryu{background-color: #b18fcf; color: #000;}
.libero{background-color: #ecf0f1;color:#000;}
.warn{color: #aaa;padding-top: 5px;display: block;border-top: 1px solid #F2F2F2;}
.ast{color: #aaa;padding-top: 5px;display: block;}
.asterisk{color: red;}
.bottborder{border-bottom: 1px solid #2E2E2E;}
.topborder{border-top: 2px solid #2E2E2E;}
.padtop {padding-top: 15px;}

.litime {padding-right: 8px; color: #005493;}
ul.ultime {list-style: none;}
ul.ultime li:before {
  content: "\2318";
  color: #005493;
  font-family: FontAwesome;
  margin-right: 10px;
  margin-left: -25px;
  display: inline;
  vertical-align: middle;
  font-size: 1em;
  font-weight: normal;
}


@media(max-width:960px){
table.orario{}
.time{width:15%; text-align: center;}
.dayh{width:10%;}
.adulti{background-color: #34558B; color:#fff;}
.principianti{background-color: #7DCDB6;color:#fff;}
.ragazzi{background-color: #F3C12C;color:#fff;}
.bambini{background-color: #E87544;color:#fff;}
.pre-aikido{background-color: #f39c12;color:#fff;}
.ken-jo{background-color: #34495e; color: #fff;}
.yudansha{background-color: #2c3e50;color:#fff;}
.libero{background-color: #ecf0f1;color:#000;}
}

.noclasses{font-size:1.4em; color: #282658; font-weight: 400;}
.holiday{color: #282658}
.legenda{padding:3px; font-size: 0.9em;text-align: left; border-top: 1px solid #ddd; margin-top: 15px;}
.tsmall{font-size: 0.8em; line-height: 0.8em;}
.emp{font-variant: italic}
.noprint{color: #fff;}
.indent{padding-left: 10px}
@media(max-width:960px){
  .indent{padding-left: 5px}
}

div.tagbox{width: 120px;height: 40px;border: 1px solid #000;margin: 5px; display: inline-block; text-align: center;padding-top: 15px;}
@media (max-width:960px){div.tagbox{font-size: 0.9em;width: 100px; height: 35px; padding-top: 3px}}


.timet {display: table-row;}
.timet span {display: table-cell; padding-left: 12px; padding-right: 12px; padding-bottom: 5px; text-align: center}
.timet span.row {display: table-cell; padding-left: 12px; padding-right: 12px; padding-bottom: 5px; text-align: center; border-top: 1px solid #ddd;}
.timet span.day{display: table-cell; padding-right: 12px; padding-bottom: 5px; text-align: left; }


@media (min-width:769px){.timet span.mobile {display: none}
.timet span.nomobile {display: table-cell; padding-left: 12px; padding-right: 12px; padding-bottom: 5px; text-align: center}
}
@media (max-width:960px){.timet span.nomobile {display: none}
.timet span.mobile {display: table-cell; padding-left: 12px; padding-right: 12px; padding-bottom: 5px; text-align: center}
}


ul.warn {list-style: none;}
ul.warn li:before {
  content: "\f02e";
  color: #005493;
  font-family: FontAwesome;
  margin-right: 10px;
  margin-left: -25px;
  display: inline;
  vertical-align: middle;
  font-size: 1em;
  font-weight: normal;
}

ul.ast {list-style: none;}
ul.ast li:before {
  content: "\f069";
  color: red;
  font-family: FontAwesome;
  margin-right: 10px;
  margin-left: -25px;
  display: inline;
  vertical-align: middle;
  font-size: 1em;
  font-weight: normal;
}

.address:after {
  content: "\f08e";
  color: #005493;
  font-family: FontAwesome;
  margin-left: 5px;
  display: inline;
  vertical-align: middle;
  font-size: 1em;
  font-weight: normal;
}


/* news */
.piecenews {
    display: block;
    width: 95%;
    border: 1px solid #EEE;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
}
.piecenews p {margin-top: 0; margin-bottom: 0}

/* mix */
ul.bullet2{
    list-style-type: none;
    margin: 1em 0px;
    padding: 0px;
}


@media (max-width:960px){ul.bullet2{ margin-top: 0.5em;}}

ul.bullet2 li {
    padding-left: 1em;
    text-indent: -1em;
}
ul.bullet2 li:before {
    content: "\25AB";
    padding-right: 5px;
}

ul.bullet li:first-child {
    margin-top: -0.5em;
}

ul.bullet2 li:first-child {
    margin-top: -0.5em;
}

ul.weblinks {
    list-style-type: none;
    margin: 1em 0px;
    padding: 0px;
}
ul.weblinks li:first-child {
    margin-top: -1em;
}
ul.weblinks li {
    padding-left: 1em;
}
ul.weblinks li:before {
  font-family: 'FontAwesome';
  content: "\f0c1";
  padding-right: 5px;
}

.question{font: bold 16px/20px "Open Sans Condensed",sans-serif;}
.answer{margin-top: -0.5em;}

@media (max-width:640px){.miniature{display: none;}}
@media (max-width:960px){.miniature{display: none;}}
@media (min-width:769px){.miniature{float: right;}}

h1, h2, h3, h4 {margin-bottom: 0px;}
#seminari h3, #links h3, #insegnante h3, #orario h3 {text-align: center; color: #005493; margin: 20px 0 15px 0; }
h4 {color: #005493; margin: 20px 0 15px 0; font: 24px/26px 'Open Sans Condensed','Helvetica', sans-serif; }
@media (max-width:960px){h4{font-size: 20px;}}


.fullwidth{display: block;width:100%;}
.w70{width: 70%}
.w60{width: 60%}
.w50{width: 50%}
.w40{width: 40%}
.w100p{width: 100px;}
.w200p{width: 200px;}
.top10{padding-top: 8px;}
.pad{padding: 8px;}
.notebox {margin: 5px;}
.sc{text-transform: uppercase; font-variant:small-caps;}
.disable {color: #bbb;}
@media (max-width:960px){.notebox{margin-bottom:0;margin-top:0;}.w70,.w60,.w50{width: 95%}}
@media (max-width:960px){.w40, .w50, .w60, .w70{width: 95%;}}

.rank {display: table-row;}
.piece {display: table-cell; padding-left: 15px;}

.fright {float:right;}
.fleft {float: left;}
.clear{clear:both;}
.bord {border: 1px solid #DDD}
.acenter{text-align: center}
.noborder {border: 0px;}
a.noborder  {border-bottom: 0px;text-decoration: none}
.ev {font-weight: 400}
.it {font-style: italic;}
.ulined{border-bottom: 1px solid #005493;}
.spacer{color: white;}


a.main_link{text-decoration: none;color: #005493;border: 0}

img {max-width: 100%;}

.seminarwrapper {border-bottom: 1px solid #f2f2f2;}
.semimage{float: left;padding: 15px; vertical-align: center; }
.semimage img {
    width: 140px;
    text-align: center;
    border-radius: 4px;
    border: 2px solid #aaa;
    margin: 5px;
    padding: 5px;
}
.semdate {color: #005493; padding: 15px; padding-top: 20px; line-height: 1.2em; vertical-align: middle; text-align: center; font-size: 16px; font-weight: bold; border-radius: 3px; min-width: 145px}
.seminartext{padding: 15px}
.semdetails{display: table-row; }
.septop {border-top: 2px solid #005493; margin-top: 20px; line-height: 2.5em;  font-weight: 300}
@media (max-width:960px){.ulined{border: 0; color: #005493; font-weight: 700;}.septop{border-top: 1px solid #005493;font-weight: 700;}}
@media (max-width:960px){.semimage img{width: 300px;margin-bottom: 0} .semimage img:after{clear: both}}
.passed {color: #bbb;}
.activeseminar {border: 2px solid #005493; border-radius: 3px}
@media (max-width:960px){.activeseminar {border: 0; border-radius:0; border-left: 5px solid #005493;}}

.rotate {
     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
}



/** override bootstrap **/

.row h3 {color: #005493;
font-family: "Open Sans Condensed",sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 1.6;
text-align: center;
margin: 20px 0 15px 0;
padding: 0px;}



.nav > li a:hover {background-color: #fff;}


.nav > li a:before{content: "";
position: absolute;
top: 49%;
left: 0px;
margin-top: -2px;
width: 5px;
height: 5px;
border-radius: 50%;
background: #DEDEDE none repeat scroll 0% 0%;}

.nav > li:first-child a:before {display: none;}

.nav > li a {
font-family: 'Open Sans';
font-size: 15px;
font-weight: 300;  
    border: medium none;
    color: #808080;
    display: block;
    position: relative;
    text-transform: uppercase;
}
.nav > li > a {padding-top: 15px; padding-bottom: 15px; padding-right: 10px;}

@media (max-width:960px){.nav > li a:before {display: none;} .nav > li > a {padding: 5px;} }


#navbar{border-bottom: 1px solid #F2F2F2; margin-bottom: 15px; margin-top: 5px }
.navbar-nav {display: block;margin: auto;}
@media (max-width:960px){#navbar{border-top: 1px solid #F2F2F2; margin-top: 15px}}
@media (min-width:992px){.navbar-nav {margin-left: -15px;}}


.caption{font-family: "Open Sans Condensed",sans-serif;font-size: 20px;}
@media (max-width:960px){.caption {font-size: 18px;}}

@media (min-width:769px){.mobile{display:none}}
@media (max-width:960px){.nomobile{display:none}}

@media (min-width:1020px){.ontab{display:none}}
@media (max-width:1020px){.notab{display:none}}
